#modalz {
    position: fixed;
    z-index: 100000;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: none; // hidden modal

    &.open {
        display: flex; // open modal
    }

    &-btn {
        position: absolute;
        z-index: 100003;
        top: 16px;
        right: 16px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        cursor: pointer;
        overflow: hidden;
        background: rgba($color: #000000, $alpha: 0.4);

        &::before {
            content: "";
            position: absolute;
            width: 200%;
            height: 4px;
            left: -50%;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            background: #f3f3f3;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            left: -50%;
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
            background: #f3f3f3;
        }
    }

    &-bg {
        position: absolute;
        z-index: 100001;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
    }

    &-ctn {
        position: relative;
        z-index: 100002;
        max-height: 100vh;
        max-width: 100%;
        overflow: hidden;
    }
}
